.promo {
    margin-bottom: 63px;
}

.promo_content {
    border-radius: 59;
    background-color: #f4f6f5;

    display: flex;
    column-gap: 24px;

    padding-top: 68px;
    padding-left: 120px;


}

.promo_text {}

.promo_title {
    max-width: 480px;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.25;
}

.promo_desc {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 32px;
    line-height: calc(48/32);
    letter-spacing: -0.05em;
}

.promo_btn_wrapper {


    display: flex;
    justify-content: space-between;
    align-items: center;

}

.promo_btn_decor {
    width: 190px;
    height: 32px;
    background-image: url("./../../img/icons/decor-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.promo_btn {
    padding: 18px 40px;

    background-color: #000000;
    border-radius: 10px;
    color: #fff;

    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;
}

.highlight {
    position: relative;
    display: inline-block;

}

.highlight span {
    position: relative;
    z-index: 1px;


}

.highlight::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    bottom: 0px;
    left: -40px;
    right: -160px;
    background-color: #fff;
    transform: rotate(-2deg);
}

.highlight--yellow::before {
    background-color: var(--yellow);
    right: -110px;
}