.apps {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    padding-left: 100px;


}

.dow_app {
    display: contents;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
    padding-right: 20px;


}



.app_title {

    display: inline-block;
    position: relative;
    font-weight: 1000;
    font-size: 35px;
    line-height: 1.5;
    letter-spacing: 0.10em;
    padding-bottom: 70px;
}

.text_p {
    margin-bottom: 20px;
    font-weight: 30px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.00em;
    padding-bottom: 30px;
}

.app_icons {
    justify-content: space-between;
    display: flex;
    width: 190px;
    padding-top: 20px;

}

.app_img {
    padding-left: 10px;
}